    a{
        text-decoration: none;
        color: #c6c6c6
    }

    .dropdownCategory {
        background-color: #FD4556;
        height: 40px;
        line-height: 40px;
        text-indent: 10px;
        font-weight: bold;
        color: #FFF;
    }

    .dropdownRow > a {
        display: flex;
        flex-direction: row;
        height: 45px;
        background-color: #2B2A29;
        line-height: 45px;
    }



    .dropdownRowText {
        background-color: #2B2A29;
        width: 100%;
        padding-right: 10px;
        direction: rtl;
        text-align: justify;
    }

    .dropdownRowText:hover {
        background-color: #1E1E1E;
    }

    .dropdownRowImg{
        background-color: #2B2A29;
    }

    .dropdownRowImg img {
        max-height: 45px;
        max-width: 250px;
        background-color: #2B2A29;
    }